.sidebar-section {
    display: flex;
    background-color: #f6f6f6; /* Light gray background */
    /* Create a CSS-based pattern */

}
.sidebar{
    height: 100vh;
    background-color: Teal;
    width: 90px;
    position: fixed;
    
}
.sidebar-toggle{
    width: 200px;
}
.sidebar-toggle-icons{
    display: flex;
    align-items: right;
    justify-content: right;
    cursor: pointer;

}
.sidebar-toggle-icons p svg{
    background-color: white;
    color: teal;
    margin-top: 30px;
}