.navbar-profile-pic {
    border-radius: 50%;
    height: 180px;
    width: 140px; /* Ensure width and height are the same for a perfect circle */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.navbar-profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire container */
}

.nav-item{
    color: black;
    margin-top: 30px;
    /* text-align: center; */
    margin-left: 45px;
}
.nav-link{
    margin-top: 20px;
    cursor: pointer;
    margin-right: 10px;
}
.nav-link svg{
    margin-right: 10px;
}

.nav-link:hover{
    color: white;
}