.home-container{
    height:300px;
    color: Turquoise;
    
}
.home-content h1{
    padding:5px;
    padding-top: 80px;
    margin-left: 160px;
}
.home-content h2{
    padding:5px;
    color:teal;
    margin-left: 160px;
}
.home-buttons{
    margin-left: 150px;
}
.home-buttons .btn-hire{
    background-color: teal;
    color: white;
    width: 160px;
}
.home-buttons .btn-hire:hover{
    background-color: Turquoise;
    color: teal;
    width: 200px;
    transition: 1s;
}

.home-buttons .btn-cv{
    background-color: teal;
    color: white;
    width: 160px;
    margin-left: 15px;
}
.home-buttons .btn-cv:hover{
    transition: 1s;
    opacity: 80%;
}
